@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

* {
  /* margin: 0;
  padding: 0; */
  font-family: 'Rubik', sans-serif;
  color: white;
  overflow: hidden;
}

body {
  background: url('../images/northern-lights-5.jpg') center no-repeat;
  background-color: #212121;
  background-size: cover;
  background-attachment: fixed;
}

input,
input:active,
input:focus {
  font-family: 'Rubik', sans-serif;
  border: none !important;
  font-weight: bold;
  box-shadow: none !important;

}

.search-amazon,
#search-amazon {
  border-radius: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar-content {
  max-height: 65% !important;
}

.main {
  position: relative;
}
.quote-row {
  display: flex;
  position: relative;
}




.sidebar-content,
.main-content {
  display: flex;
  max-height: 80vh;
  flex-direction: column;
}

.check-icon {
  margin-left: 12px;
}

.check-icon:hover {
  cursor: pointer;
}


.card,
.waves-light,
#quote-div {
  background-color: rgba(255, 255, 255, 0.3) !important;

}

input #taskInput {
  padding-right: 20px;
}

.task {
  margin-bottom: 0;
  padding-bottom: 0;
}

#frosted {
  background-color: rgba(255, 255, 255, 0.3);
}

#taskInput {
  
}

#momentRow {
  margin-top: 180px;
  margin-bottom: 0px;
}

#stock-box, #weather-box {
  padding: 12px;
}

#weather-box {
  margin-top: 100px;
}

#time,
#momentBox {
  position: relative;
  font-size: 100pt;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  background-color: none !important;
}

#quote-row {
  top: 120px;
}

::placeholder {
  color: white !important;
}

input:active {
  color: purple !important;
}

.card-content label {
  color: black;
  font-size: 16pt;
  font-weight: bold;
}

#userSaveBtn {
  color: white;
  width: 80px;
  background-color: #212121;
  padding: 8px;
  border: none;
  border-radius: 3px;
}

span {
  color: black !important;
}





/* background styles */